h1 {
    color: #1AD5A6;
    font-style: italic;
}

h3 { 
    color: #FFFFFF;
}

body {
    background-color: #000000;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.text {
    text-align: center;
}